---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="md:relative h-full">
    <img
      class="hidden md:block h-full w-full object-cover absolute inset-0 -z-10"
      src="/strahds-curse-wallpaper.png"
      alt="Strahd's Curse Wallpaper"
    />

    <div class="w-full h-full bg-black/20 relative">
      <div
        class="mt-4 px-2 md:mt-0 md:px-0 md:absolute bottom-12 left-12 min-w-[40%] flex flex-col justify-center text-center"
      >
        <h1 class="text-3xl md:text-5xl font-bold mb-2">
          La Maldición de Strahd
        </h1>
        <p class="text-base md:text-xl italic text-pretty mb-3 md:mb-2">
          Una aventura mastereada por <strong
            class="text-red-400/90 font-semibold">Corven Dallas</strong
          >
        </p>

        <div
          class="container mx-auto grid grid-cols-1 sm:grid-cols-2 mt-4 gap-3"
        >
          <a
            href="/pcs"
            class="bg-gradient-to-r from-red-800 via-red-700 to-red-900 text-xl md:text-lg text-center py-5 md:py-4 rounded-lg shadow-md hover:scale-105 transition-transform duration-200"
          >
            Ver Personajes
          </a>
          <a
            href="/npcs"
            class="bg-gradient-to-r from-red-800 via-red-700 to-red-900 text-xl md:text-lg text-center py-5 md:py-4 rounded-lg shadow-md hover:scale-105 transition-transform duration-200"
          >
            Ver NPCs
          </a>
          <a
            href="/areas"
            class="bg-gradient-to-r from-red-800 via-red-700 to-red-900 text-xl md:text-lg text-center py-5 md:py-4 rounded-lg shadow-md hover:scale-105 transition-transform duration-200"
          >
            Ver Zonas
          </a>
          <a
            href="/lore"
            class="bg-gradient-to-r from-red-800 via-red-700 to-red-900 text-xl md:text-lg text-center py-5 md:py-4 rounded-lg shadow-md hover:scale-105 transition-transform duration-200"
          >
            Ver Historia
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
