---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="grid justify-center items-center h-[calc(100svh-6rem)]">
    <div class="text-red-700 text-center ">
      <p class="text-pretty text-xl">
        Oh vaya, parece que Strahd no quiere que veas la historia...
      </p>
      <p class="text-red-800 text-pretty mt-1.5 italic">(Eso, o que todavía no se ha implementado, ¡lo siento!)</p>
    </div>
  </div>
</Layout>
