---
import Layout from "../layouts/Layout.astro";
import lore from "../data/lore.ts";

const chapters = [lore.prologue, lore.chapter1];
---

<Layout>
  <section class="container mx-auto mt-4 p-3 space-y-3 lg:max-w-[800px]">
    {
      chapters.map((chapter) => {
        return (
          <details class="bg-red-900/85 rounded-lg cursor-pointer">
            <summary class="text-pretty p-4 text-xl font-semibold">
              {chapter.title}
            </summary>
            <hr class="mx-2" />
            <div class="space-y-3.5 py-3">
              {chapter.content.map((section) => {
                return (
                  <div class="px-5">
                    <h2 class="text-pretty font-semibold text-lg">
                      {section.title}
                    </h2>
                    <p class="text-pretty text-base">{section.text}</p>
                  </div>
                );
              })}
            </div>
          </details>
        );
      })
    }
  </section>
</Layout>
