---
import CharacterCard from '../components/CharacterCard.astro'
import Layout from "../layouts/Layout.astro";

import npcs from '../data/npcs';
---

<Layout>
  <section
    class="container mx-auto p-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3"
  >
	{
		npcs.map(npc => (
			<CharacterCard name={npc.name} src={npc.image} description={npc.description} />
		))
	}
  </section>
</Layout>
