---
const { name, src } = Astro.props
---

<article class="group rounded-lg relative borde shadow-md shadow-red-200/20 overflow-hidden hover:scale-105 hover:saturate-150 transition-all duration-300">
	<img
	  class="w-full h-full object-cover"
	  src={src}
	  alt="Ava, the Warlock Merchant of Shadows"
	/>
	<div
	  class="absolute inset-0 flex justify-center items-end pb-4 bg-gradient-to-t from-black via-transparent to-transparent"
	>
	  <h2 class="text-red-400 group-hover:text-red-700 transition-colors duration-300 text-2xl font-bold">{name}</h2>
	</div>
  </article>