---
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>La Maldición de Strahd (por Corven Dallas)</title>
  </head>
  <body
    class="h-svh bg-black bg-gradient-to-br from-black via-black to-red-900/50 text-white"
  >
    <div class="h-full grid grid-rows-[auto_1fr]">
      <Navbar />
      <div class="overflow-y-auto">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  @view-transition {
    navigation: auto;
  }
</style>
